!!!
%html
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %script{:src => "https://use.typekit.net/mmw2xgd.js"}
      :javascript
        try{Typekit.load({ async: true });}catch(e){}
    / Facebook
    %meta{:content => "Animade - Like Button 3D!", :property => "og:title"}/
    %meta{:content => "An interactive characterful like button", :property => "og:description"}/
    %meta{:content => "https://s3.amazonaws.com/animade/projects/tomjudd/tjudd.jpg", :property => "og:image"}/
    %meta{:content => "http://www.animade.tv/like", :property => "og:url"}/
    %meta{:content => "183650388358020", :property => "fb:app_id"}/
    / Twitter
    %meta{:content => "summary", :name => "twitter:card"}/
    %meta{:content => "@animadetv", :name => "twitter:site"}/
    %meta{:content => "@animadetv", :name => "twitter:creator"}/
    %meta{:content => "http://www.animade.tv/like", :name => "twitter:url"}/
    %meta{:content => "Animade", :name => "twitter:title"}/
    %meta{:content => "Animator, creative coder and co-founder of Animade", :name => "twitter:description"}/
    %meta{:content => "https://s3.amazonaws.com/animade/projects/tomjudd/tjudd.jpg", :name => "twitter:image"}/
    / Turn off Google Translate
    %meta{:name => "google", :value => "notranslate"}/
    / Disable automatic detection and formatting of possible phone numbers in Safari on iOS
    %meta{:content => "telephone=no", :name => "format-detection"}/

    // Google analytics
    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga'); ga('create', 'UA-57743691-3', 'auto'); ga('send', 'pageview');


    %title
      = current_page.data.title || "Animade - Like Button 3D!"

    = yield_content(:javascripts)
    = yield_content(:stylesheets)

  %body{class: page_classes, :onload => "run(); animate();"}
    #fb-root
    :javascript
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=194703243959853";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));

    //#title
    //  %h1
    //    Animade is an animation and interactive design studio.
    //    It would make us very happy if you liked us.

    #noMouse
      #demo-header
      #demo
      %h1
        This webtoy is made for big computers with mice. Email yourself the
        %a{:href => "mailto:?subject=Animade Like 3D&body=Try this webtoy by Animade -> http://www.animade.tv/like"}link
        and have a play when you're not on the move.

    #about
      %h3
        A webtoy by 
        %a{:href => "http://animade.tv"}Animade

    #fb
      %fb:like{:font => "arial", :href => "http://www.facebook.com/animadetv", :layout => "box_count", :send => "false", :show_faces => "false", :width => "48"}
      #fb-root
        %script{:src => "http://connect.facebook.net/en_GB/all.js#xfbml=1"}
        :javascript
          FB.Event.subscribe('edge.create', function(href, widget) {
            liked();
          });

    #twitter
      %a.twitter-share-button{"data-dnt" => "true", "data-hashtags" => "smile", "data-related" => "tomjudd1", "data-size" => "large", "data-via" => "animadetv", :href => "https://twitter.com/share"} Tweet
      :javascript
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');


    = yield