// ==========================================================================
//
// Base CSS. 
// Only include things which need to appear in *every* page
//
//

$linkColor: #ff99ff;

@import "../../bower_components/normalize-css/normalize";

// Installed as a gem for lots of annoying reasons
@import "bourbon";

body {
	
  font-family: Europa, Avenir, sans-serif;

  
  h1{
    line-height: 1.5em;
    font-size:1em;
    font-weight: 400;
  }

  h3{
    line-height: 0em;
    font-size:0.55em;
    font-weight: 400;
  }

  canvas{

  	z-index:-1;

  }

  $cpuColour: #ffffff;

  #title{

    display:none;

    h1{
      letter-spacing: .02em;
    }
    
    @include transform(translateX(-50%));
    position:absolute;
    top:10%;
    left: 50%;
    text-align:center;
  }


  #fb{
    display:none;
    @include transform(translateX(-50%));
  	position:absolute;
    height:61px;
    width:48px;
    overflow: hidden;
  	top:75%;
  	left: 50%;
  }


  #about{
    display:inline;
    @include transform(translateX(-50%));
    position:absolute;
    overflow: hidden;
    //background-color: black;
    width:auto;
    top:92.5%;
    right: 0%;
    color: #ffffff;

      a{
        color: $linkColor;
      }
      a:hover{
        border-bottom: none;
      }
  }

  #twitter{
    display:none;
    @include transform(translateX(-50%));
    position:absolute;
    height: 50px;
    top:92.5%;
    left: 50%;
  }

  #noMouse{


    $cpuWidth: 400px;
    $cpuScreenBorder: 10px;
    $cpuStalkWidth: 40px;
    $cpuStalkHeight: 40px;
    $cpuStandWidth: 80px;
    $cpuStandHeight: 10px;



    display:none;

    h1{
      color:$cpuColour;

      a{
        color: $linkColor;
      }
      a:hover{
        border-bottom: none;
      }
    }

    @include transform(translateY(-50%) translateX(-50%));
    position:absolute;
    width:400px;
    top:50%;
    left: 50%;
    text-align:center;


    #demo-header{
      display:inline;
      float:left;
      width:$cpuWidth;
      height:26px;
      background-image: url("../../library/gifs/demo-header.png");
      background-color:none;
     
    }

    #demo{
      display:inline;
      float:left;
      width:$cpuWidth;
      height:249px;
      background-image: url("../../library/gifs/demo.gif");
      background-color:none;
      margin-bottom: 40px;
     
    }

  }

}

