// ==========================================================================
//
// Base CSS. 
// Only include things which need to appear in *every* page
//
//

$bottom-padding: 15px;
$side-padding: 25px;

$linkColor: #ff99ff;
$btn-color: #ff99ff;
$btn-text-color: #ffffff;

@import "../../bower_components/normalize-css/normalize";

// Installed as a gem for lots of annoying reasons
@import "bourbon";

body {
	
  font-family: Europa, Avenir, sans-serif;
  overflow:hidden;
  
  h1{
    line-height: 1.5em;
    font-size:1em;
    font-weight: 400;
  }

  h3{
    text-align: right;
    line-height: 0em;
    font-size:0.55em;
    font-weight: 400;
  }

  canvas{

  	z-index:-1;

  }

  $cpuColour: #ffffff;

  #title{

    display:none;

    h1{
      letter-spacing: .02em;
    }
    
    @include transform(translateX(-50%));
    position:absolute;
    top:10%;
    left: 50%;
    text-align:center;
  }

  #callToAction{

    display:none;

    h1{
      letter-spacing: .02em;
    }
    
    @include transform(translateX(-50%) translateY(-50%));
    position:absolute;
    top:50%;
    left: 50%;
    text-align:center;

    a{
      text-decoration: none;
    }
    a:hover{
      #btn{
        //background-color: $btn-text-color;
        color: #333333;
      }
    }

    #btn{
      background-color: $btn-color;
      width:auto;
      padding: 15px 15px 15px 15px;
      margin: 35px 40px 20px 40px;
      border-radius: 5px;
      color: $btn-text-color;

    }
  }

  #fb{
    display:none;
    @include transform(translateX(-50%));
  	position:absolute;
    padding-top:2px;
    height:61px;
    width:48px;
    overflow: hidden;
  	top:75%;
  	left: 50%;
  }

  #about{
    opacity: 0.80;
    position: fixed;
    left: $side-padding;
    bottom: $bottom-padding;
    z-index: 10;
    overflow: hidden;
    //background-color: black;
    width:100px;
    color: #ffffff;

      a{
        color: $linkColor;
      }
      a:hover{
        border-bottom: none;
      }

      img{
        width:100px;
      }

  }

  #twitter{
    display:none;
    position: fixed;
    right: $side-padding;
    bottom: $bottom-padding + 4;
    height: 32px;
    
  }

  #mute-button{
    opacity: 0.80;
    position: fixed;
    right: $side-padding;
    bottom: $bottom-padding+3;
    z-index: 10;
    cursor: pointer;
    width: 30px;
    height: 30px;
    background: url("../library/img/mute-sprite.png") no-repeat;
    background-position: 0px 0px;
    background-size: auto 100%;


    &.muted{
      background-position: -30px 0px;
    }
  }

  #noMouse{


    $cpuWidth: 400px;
    $cpuScreenBorder: 10px;
    $cpuStalkWidth: 40px;
    $cpuStalkHeight: 40px;
    $cpuStandWidth: 80px;
    $cpuStandHeight: 10px;



    display:none;

    h1{
      color:$cpuColour;

      a{
        color: $linkColor;
      }
      a:hover{
        border-bottom: none;
      }
    }

    @include transform(translateY(-50%) translateX(-50%));
    position:absolute;
    width:400px;
    top:50%;
    left: 50%;
    text-align:center;


    #demo-header{
      display:inline;
      float:left;
      width:$cpuWidth;
      height:26px;
      background-image: url("../../library/gifs/demo-header.png");
      background-color:none;
     
    }

    #demo{
      display:inline;
      float:left;
      width:$cpuWidth;
      height:249px;
      background-image: url("../../library/gifs/demo.gif");
      background-color:none;
      margin-bottom: 40px;
     
    }


  }

}

