// ==========================================================================
//
// Base CSS. 
// Only include things which need to appear in *every* page
//
//

@import "../../bower_components/normalize-css/normalize";

// Installed as a gem for lots of annoying reasons
@import "bourbon";

body {
	
  // Checks bourbon is running
  @include transition(all 6s);

  canvas{

  	z-index:-1;

  }


  #title{

    h1{
      font-size:16pt;
      color:#cccc66;
    }
    
    @include transform(translateX(-50%));
    position:absolute;
    top:10%;
    left: 50%;
    text-align:center;
  }


  #fb{
    @include transform(translateX(-50%));
  	position:absolute;
  	top:75%;
  	left: 50%;
  }


  #twitter{
    display:none;
    @include transform(translateX(-50%));
    position:absolute;
    top:92.5%;
    left: 50%;
  }

}

