	/* background-color: #ebff71; */

html, body {
	width: 100%;
	height: 100%;
	background-color: #ebff71;
	font-size: 24px;
}

.canvas {
	width: 100%; 
	height: 100%; 
	position:absolute; 
	top:0px; 
	left:0px; 
	z-index: 1;
	background-color: #ebff71;

}

#cover {
  width: 100%; 
  height: 100%; 
  position:absolute; 
  top:0px; 
  left:0px; 
  z-index: 30;
  background-color: #9b7eff;
}
